name: Publish NPM Package
on:
  push:
    tags:
      -  v*
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write  # Required for OIDC: trusted publisher and "npm provenance"
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Build Setup
        uses: ./.github/actions/build-setup
        with:
          registry-url: 'https://registry.npmjs.org'
      # the scoped package requires "access=public"
      # no token used, use trusted publisher setup instead (https://docs.npmjs.com/trusted-publishers)
      - run: npm publish -w packages/addons --provenance --access public
